# .env.example
# REQUIRED: Duplicate this file, rename it to exactly ".env", and put the read key along with all the ids & types that were returned by the api when you registered the sensor array below.
READ_KEY=your_readkey_here

# Valid type values are float, int, char, media
# Sensor array ID and sensor IDs & types returned by database after registering them
SENSOR_ARRAY_ID=1
# humidity sensor
HUM_SENSOR_ID=2
HUM_SENSOR_TYPE=float
# temperature sensor
TEMP_SENSOR_ID=3
TEMP_SENSOR_TYPE=float
# turbidity sensor
TURB_SENSOR_ID=4
TURB_SENSOR_TYPE=float
# salinity sensor
SAL_SENSOR_ID=5
SAL_SENSOR_TYPE=float
# electrical coductivity sensor
EC_SENSOR_ID=7
EC_SENSOR_TYPE=float
# total dissolved solids sensor
TDS_SENSOR_ID=6
TDS_SENSOR_TYPE=float
# ph sensor
PH_SENSOR_ID=8
PH_SENSOR_TYPE=float
# dissolved oxygen sensor
DO_SENSOR_ID=9
DO_SENSOR_TYPE=float

# power on timer (how many minutes device sleeps before waking and reading)
POWER_ON_TIMER=25